In [9]:
import pandas as pd
import numpy as np
import matplotlib as mlib
import sklearn
from sklearn import preprocessing
from keras import Sequential
import tensorflow
import matplotlib as matlib
from matplotlib import pyplot

In [7]:
from sklearn.datasets import load_files       
from keras.utils import np_utils
import numpy as np
from glob import glob

# define function to load train, test, and validation datasets
def load_dataset(path):
    data = load_files(path)
    image_files = np.array(data['filenames'])
    image_targets = np_utils.to_categorical(np.array(data['target']), 133)
    return image_files, image_targets

# load train, test, and validation datasets
train_files = load_dataset('train')
test_files = load_dataset('test')

species_names_train = [item[20:-1] for item in sorted(glob("train/*"))]
species_names_test = [item[20:-1] for item in sorted(glob("test/*"))]
species_train_labels = pd.read_csv('train_labels.csv')

print('There are %d total training species.' % len(species_names_train))
print('There are %d total testing species.' % len(species_names_test))
species_train_labels.head()

There are 100 total training species.
There are 24 total testing species.

   name  invasive
0     1         0
1     2         0
2     3         1
3     4         0
4     5         1